body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient( to left,  rgb(0, 153, 255), rgb(13, 97, 153) );
}
#par{
    justify-content: center;
    display: flex;
    margin-top: 10px;
    height: 35px;
       
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 10px;
}
#checkbox{
    justify-content: center;
    display: flex;
    margin-top: 10px;
}
#enviar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    margin-top: 50px;
    margin-left:50%;
}
#hora_inicio{

}
#hora_termino{

}